" === RubyMine Setup ===
" ideavim emulated plugins
set commentary
set highlightedyank
set ideajoin
set ideamarks
set multiple-cursors
set noerrorbell
set surround
set textobj-entire

" general settings
set clipboard+=unnamedplus
set number
set relativenumber
set scrolloff=3
set showmode
set smartcase
set timeoutlen=1000
set visualbell

" searching
set ignorecase
set incsearch
set smartcase

" === Keybindings ===
let mapleader=" "

inoremap jj <esc>
inoremap jk <esc>

" window actions
nnoremap <Leader>md :action MoveTabDown<CR>
nnoremap <Leader>mr :action MoveTabRight<CR>
nnoremap <Leader>mt :action MoveEditorToOppositeTabGroup<CR>
nnoremap <Leader>wsd :action SplitHorizontally<CR>
nnoremap <Leader>wsr :action SplitVertically<CR>

" editor actions
nnoremap <Leader>i :action ShowIntentionActions<CR>
nnoremap <Leader>e :action ShowErrorDescription<CR>
nnoremap <leader>b :action GotoRelated<cr>

" key bindings for quickly moving between windows
nnoremap <C-h> <c-w>h
nnoremap <C-j> <c-w>j
nnoremap <C-k> <c-w>k
nnoremap <C-l> <c-w>l

" tabs and stuff
nnoremap t gt
nnoremap T gT
nnoremap <Leader><Tab> :action Switcher<CR>
nnoremap <Tab> >>_
nnoremap <S-Tab> <<_
inoremap <S-Tab> <C-D>
vnoremap <Tab> >gv
vnoremap <S-Tab> <gv
